
<a routerLink="/rentals/{{rental._id}}">
  <div class="card bwm-card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="">
    <div class="card-block">
      <h6 class="card-subtitle type-{{rental.category}}">Whole {{rental.category}} &#183; {{rental.city}}</h6>
      <h4 class="card-title">{{rental.title}}</h4>
      <p class="card-text">${{rental.dailyPrice}} per Night &#183; Free Cancelation</p>
    </div>
  </div>
  Child: {{childData}}
</a>
<button (click)="changeData()">Change Data</button>