<div class="bwm-list-page">
  <h1 class="title">Your home all around the World</h1>
  <!-- TODO: Create custom directive in end of this section -->
  <div class="row">
    <div 
      *ngFor="let rental of rentals"
      class="col-md-3 col-xs-12">
        <bwm-rental-card 
          [rentalItem]="rental">
        </bwm-rental-card>
        <div *bwmNgIf="rental.category === 'house'">
          <h1>I am a house!</h1>
        </div>
        <!-- <ng-template [bwmNgIf]="rental.category === 'house'">
          <h1>I am a house!</h1>
        </ng-template> -->
    </div>
  </div>
</div>