

<section
  *ngIf="rental && rental._id"
  id="rentalDetails">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display rental image -->
        <img [src]="rental.image" alt="">
      </div>
      <div class="col-md-6">
        <!-- TODO: Display rental image -->
        <img [src]="rental.image" alt="">
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <!-- TODO: Display shared category -->
          <h2 class="rental-type type-{{rental.category}}">
            {{rental.shared ? 'Shared' : 'Whole'}} {{rental.category}}
          </h2>
          <!-- TODO: Display title -->
          <h1 [bwmHighlight]="'transparent'" class="rental-title">{{rental.title}}</h1>
          <!-- TODO: Display city -->
          <h2 class="rental-city">{{rental.city | upper:'firstLetterUpper'}}</h2>
          <div class="rental-room-info">
            <!-- TODO: Display numOfRooms -->
            <span><i class="fa fa-building"></i>{{rental.numOfRooms}} bedrooms</span>
              <!-- TODO: Display numOfRooms + 4 -->
            <span><i class="fa fa-user"></i>{{rental.numOfRooms + 4}} guests</span>
            <!-- TODO: Display numOfRooms + 2 -->
            <span><i class="fa fa-bed"></i>{{rental.numOfRooms + 2}} beds</span>
          </div>
          <!-- TODO: Display description -->
          <p class="rental-description">
            {{rental.description}}
          </p>
          <hr>
          <div class="rental-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Cooling</span>
                <span><i class="fa fa-thermometer"></i> Heating</span>
                <span><i class="fa fa-location-arrow"></i> Iron</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Working area</span>
                <span><i class="fa fa-cube"></i> Washing machine</span>
                <span><i class="fa fa-cube"></i> Dishwasher</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"> BOOKING</div>
    </div>
  </div>
</section
>